@charset "utf-8";
/*css document*/

/*AJUSTES GENERALES*/
@font-face {
    font-family: 'alegreyasans-regular';
    src: url(fonts/AlegreyaSans-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alegreyasans-lightitalic';
    src: url(fonts/AlegreyaSans-LightItalic.ttf);
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: 'alegreyasans-mediumitalic';
    src: url(fonts/AlegreyaSans-MediumItalic.ttf);
    font-weight: medium;
    font-style: italic;
}

@font-face {
    font-family: 'alegreyasans-bolditalic';
    src: url(fonts/AlegreyaSans-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'alegreyasans-black';
    src: url(fonts/AlegreyaSans-Black.ttf);
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'alegreyasansSC-regular';
    src: url(fonts/AlegreyaSansSC-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alegreyasansSC-bold';
    src: url(fonts/AlegreyaSansSC-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}


/*CARACTERISTICAS*/

body{
    background-color:var(--blanco);
    font-family:'alegreyasans-regular', sans-serif;
    text-wrap: balance;
    color:var(--negro);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/*ESTILOS*/

h1{
    font-family: 'alegreyasans-black', sans-serif;
    font-size: 4.3rem;
    margin: 0;
}

h2{
    font-family: 'alegreyasansSC-bold', sans-serif;
    font-size: 2.8rem;
    margin: 0;
}

h3{
    font-family: 'alegreyasans-bolditalic', sans-serif;
    font-size: 2.4rem;
    margin: 0
}

h4{
    font-family: 'alegreyasansSC-regular', sans-serif;
    font-size: 1.6rem;
    margin: 0;
}

h5{
    font-family: 'alegreyasansSC-bold', sans-serif;
    font-size: 1.6rem;
    margin: 0;
}

h6{
    font-family: 'alegreyasans-mediumitalic', sans-serif;
    font-size: 1.4rem;
    margin: 0;
}

p{
    font-size: 1rem;
    line-height: 1.75rem;
    margin: 0;
}

:root{
    --blanco:#F3F3F3;
    --verde:#00E686;
    --negro: #042222;
}

/*TODOS LOS HTML*/

header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0;
    margin: 0 80px;
    gap: 40px;
}

nav{
    display: flex;
    flex-wrap: wrap;
    gap: 30px
}

.isotipo{
    background-image: url(img/isotipo-negro.png); width: 32px; height: 32px;
}

.isotipo:hover{
    content: url(img/isotipo-verde.png);
    width: 32px; height: 32px;
}

a{
    text-decoration: none;
    color:var(--negro);
}

a:hover{
    color: var(--verde);
}

#fijo{
    background-color: var(--verde);
    position: fixed;
    top: 48%;
    left: 0%;
    padding: 15px 15px 15px 10px;
}

.boton{
    color:var(--verde);
    border-width: 3px 12px ;
    border-color: var(--verde);
    border-style: solid;
    border-radius: 1px;
    width: 160px;
    text-align: center;
    padding: 5px 0;
}

.boton:hover{
    color: var(--blanco);
    background-color: var(--verde);
}

.boton-negro{
    border-width: 3px 12px ;
    border-color: var(--negro);
    border-style: solid;
    border-radius: 1px;
    width: 160px;
    padding: 5px 0;
    display: flex;
    justify-content: center;
}

.boton-negro:hover{
    color: var(--verde);
    background-color: var(--negro);
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0;
    margin: 0 80px;
    gap: 15px;
}

.redes li{
    display: flex;
    align-items: center;
    gap: 10px;
}

.instagram:hover{
    content: url(img/icono-instagram-verde.png);
}

.mail:hover{
    content: url(img/icono-mail-verde.png);
}

.redes{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

#legales p{
    font-size: 0.6rem;
    line-height: 1rem;
}


/*INDEX HTML*/
section{
padding: 40px 0;
}

#bienvenida{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
    margin: 0 80px;
}

#bienvenida article{
    display: flex;
    max-width: 431px;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

#boton-bienvenida{
    display: flex;
    justify-content: center;
}

#proyectos-destacados{
    background-color:var(--verde);
    padding: 40px 80px;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

#proyectos-destacados h2{
    color: var(--negro);
}

#proyectos-destacados div{
    display: flex;
    justify-content: flex-end;
}

#signos-pregunta{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: 0 80px;
}

#signos-pregunta article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/*SOBRE MI HTML*/

#sobremi{
    background-color:var(--verde);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    padding: 70px 20px;
}

#sobremi article{
    max-width: 415px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

h2{
    color:var(--verde);
}

#informacion{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px;
}

#informacion div{
    max-width: 388px;
}

#formacion, #certificacion, #habilidades, #experiencia{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#habilidades div{
    display: flex;
    gap: 20px;
}

#experiencia div{
    display: flex;
    gap: 20px;
}

#informacion p {
    font-family: 'alegreyasans-mediumitalic', sans-serif;
}

/*PROYECTOS HTML*/

#proyectos{
    display: flex;
    flex-direction: column;
    margin: 0 80px;
}

.galeria{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 40px 0;
}

/*HOVER MINIATURAS*/

#galeria-disco a{
    display: inline-block;
    background-image: url(img/proyectos/disco/disco-thumbnal-hover.jpg);
    background-size: 410px 308px;
    background-position: center;
}

#galeria-disco a:hover img{
    opacity: 0;
    transition: opacity 0.3s ease;
}


#galeria-landscape a{
    display: inline-block;
    background-image: url(img/proyectos/landscape/landscape-thumbnal-hover.jpg);
    background-size: 410px 308px;
    background-position: center;
}

#galeria-landscape a:hover img{
    opacity: 0;
    transition: opacity 0.3s ease;
}


#galeria-libro a{
    display: inline-block;
    background-image: url(img/proyectos/libro/libro-thumbnal-hover.jpg);
    background-size: 410px 308px;
    background-position: center;
}

#galeria-libro a:hover img{
    opacity: 0;
    transition: opacity 0.3s ease;
}


#galeria-festival a{
    display: inline-block;
    background-image: url(img/proyectos/festival/festival-thumbnal-hover.jpg);
    background-size: 410px 308px;
    background-position: center;
}

#galeria-festival a:hover img{
    opacity: 0;
    transition: opacity 0.3s ease;
}


#galeria-fotoproducto a{
    display: inline-block;
    background-image: url(img/proyectos/fotoproducto/fotoproducto-thumbnal-hover.jpg);
    background-size: 410px 308px;
    background-position: center;
}

#galeria-fotoproducto a:hover img{
    opacity: 0;
    transition: opacity 0.3s ease;
}


#galeria-modelo a{
    display: inline-block;
    background-image: url(img/proyectos/modelo/modelo-thumbnal-hover.jpg);
    background-size: 410px 308px;
    background-position: center;
}

#galeria-modelo a:hover img{
    opacity: 0;
    transition: opacity 0.3s ease;
}



/*CONTACTO HTML*/

#contacto-body{
    background-color: var(--verde);
}

#contacto{
    padding: 20px 80px;
}

form{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 50px 0;
    gap: 80px;
}

.datos{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.mensaje{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label{
    display: block;
    height: 25px;
}

input{
    width: 410px;
    height: 30px;
    border-width: 3px 12px ;
    border-color:var(--negro);
    border-style: solid;
    background-color:var(--verde);
}

.enviar{
    width: 160px;
    text-align: center;
    padding: 20px 0;
    font-family: 'alegreyasansSC-regular', sans-serif;
    font-size: 1.6rem;
    margin: 0;
    line-height: 0.2rem;
}

.enviar:hover{
    color: var(--verde);
    background-color: var(--negro);
}

.boton-enviar{
    display: flex;
    justify-content: flex-end;
    padding: 30px 0;
    border-radius: 1px;
}

textarea{
    width:410px;
    height: 215px;
    border-width: 3px 12px ;
    border-color: var(--negro);
    border-style: solid;
    background-color:var(--verde);
}

/*MEDIA QUERIES*/

@media screen and (max-width: 600px){
    #bienvenida, #signos-pregunta{
        margin:0 30px
    }

    h1{
        font-size: 3rem;
    }

    h2{
        font-size: 2.1rem;
    }

    h4{
        font-size: 1.3rem;
    }

    h6{
        font-size: 1rem;
    }

    p{
        font-size: 0.8rem;
    }

    header{
        margin: 0 20px;
    }

    footer{
        margin: 0 20px;
        flex-wrap: wrap;
    }

    #logo-lara, #logo-zini{
        width: 71px;
        height: 236px;
    }

    #signo-abre, #signo-cierra{
        width: 44px;
        height: 65px;
    }
}