@charset "utf-8";
/*css document*/

/*AJUSTES GENERALES*/
@font-face {
    font-family: 'rosario-reg';
    src: url(fonts/Rosario-Regular.otf);
    format: (otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rosario-bold';
    src: url(fonts/Rosario-Bold.otf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'rosario-lightitalic';
    src: url(fonts/Rosario-LightItalic.otf);
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: 'bitcount-grid-simple';
    src: url(fonts/BitcountGridSingle-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}


/*CARACTERISTICAS*/

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(232, 247, 201);
    font-family: 'rosario-reg', sans-serif;
    text-align: center;
    text-wrap: balance;
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0%;
}

header {
    font-family: 'bitcount-grid-simple', serif;
    background-color: rgb(0, 102, 51);
    color: rgb(232, 247, 201);
    padding: 2vh;
}

nav a {
    text-decoration: none;
    color: rgb(232, 247, 201);
}

main {
    margin: 5% 0;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-family: 'bitcount-grid-simple', serif;
    font-size: 3rem;
    color: rgb(0, 102, 51);
}

h3 {
    font-family: 'bitcount-grid-simple', serif;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
}

h4 {
    font-family: 'rosario-lightitalic', sans-serif;
}

ul {
    list-style: circle;
    list-style-position: inside;
}


nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

img {
    border-radius: 100%;

}

#sobre {
    margin: 0 10% 10% 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}

#s2 {
    width: 312px;
}

#formación {
    margin: 22vh;
}

#formación article {
    padding: 5vh;
}

#f1 {
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
    flex-wrap: wrap;
}

#f2 {
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
    flex-wrap: wrap;
}

#experiencia {
    margin: 10vh 0vw;
    color: rgb(232, 247, 201);
    background-color: rgb(0, 102, 51);
    padding: 10%;
}

#experiencia h2,
#experiencia h3 {
    color: rgb(232, 247, 201);
}

.circulo {
    width: 400px;
    height: 400px;
    border: 2px solid rgb(232, 247, 201);
    border-radius: 50%;
}

#certificación {
    margin: 22vh;
}

#certificación article {
    padding: 5vh;
}

#certificación div {
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
    flex-wrap: wrap;
}


footer {
    background-color: rgb(0, 102, 51);
    color: rgb(232, 247, 201);
    padding: 30px;
}

footer h2 {
    color: rgb(232, 247, 201);
}